# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.test
.env.open

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.temp

# contrato
contrato.pdf

# bundle reports
.next/bundle-report.json

# playwright
.playwright-mcp/